# Hello Fleker,
#
# You have some seriously impressive github repos. I am a Senior Manager at Capital One and looking additional Android
# Ninjas like yourself.
# 
# I was wondering if you had 10-15 # minutes to chat?
# 
# Looking forward to hearing from you, here is more about me if interested: https://www.linkedin.com/in/jaredsheehan
# 
# Thanks!
# 
# Jared Sheehan
# jared.sheehan@capitalone.com
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/app/app-release.apk
/app/app.iml
/build/intermediates/dex-cache/cache.xml